@charset "utf-8";

/*
position: static;
position: relative;
position: absolute;
position: fixed;
*/
/*header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
main{
    margin-top: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#kerdojel{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}

#zar{
    position: absolute;
    top: -9px;
    right: 0px;
}
fieldset{
    position: relative;
}

#szamol{
    position: relative;
    left: 200px;
    top: 22px;
}*/